<center>
<h1>
<p style = "font-family:courier;">
Miki! Sie oot 18, poika! <br>
Onnittelut karanteeniin.<br>
Paljon onnea vaan, paljon...<br>
äh, unohda koko laulu. Paljon onnea! :)<br>
p.s. E kirjotti tän - hehehehehe <br>
</p>
</h1>

<img src="../poika.jpeg" style="width:375px;height:667px;">
